@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: opx;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply relative bg-gradient-to-br from-white via-[#f7f8fa] to-[#ebedf2]
}

code {
  font-family: source-code-pro, Menlo, Monaco, Intra, Consolas, 'Courier New',
    monospace;
}
